/* Customize the styling of the Navbar here */

.navbar {
    padding: 0.5rem 1rem;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-toggler-icon {
    background-color: gray;
  }
  
  .navbar-dark .navbar-toggler-icon {
    color: white;
  }
  